<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"&gt;
<head>
<title>Students List</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"&gt;
</head>
<body>
<div class="container">
<h1>Estudantes</h1>
<a class="btn btn-primary" th:href="@{/students/new}">Adicione novo estudante</a>
<table class="table">
<thead>
<tr>
<th>ID</th>
<th>Nome</th>
<th>Email</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<tr th:each="student : ${students}">
<td th:text="${student.id}"></td>
<td th:text="${student.name}"></td>
<td th:text="${student.email}"></td>
<td>
<a class="btn btn-secondary" th:href="@{/students/edit/{id}(id=${student.id})}">Editar</a>
<a class="btn btn-danger" th:href="@{/students/delete/{id}(id=${student.id})}">Deletar</a>
</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>