<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Academico</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Mini Sitema Academico</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/aluno">Aluno</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/professor">Professor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/turma">Turma</a>
            </li>
        </ul>
    </div>
</body>
</html>