<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário Professores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Formulário Professores</h1>
        <form th:action="@{/professor}" th:object="${professor}" method="post">
			<input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" th:field="*{nome}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" th:field="*{email}">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button> <a th:href="@{/professor}" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
</body>
</html>
